@import "_reseter";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.wrapper {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

$padInsideMod: 10px;
$baseBorder: 1px solid #ccc;
$primary: #007bff;
$danger: #dc3545;
$secondary: #6c757d;
$contentClr: #212529;
%btnTemplate {
  border-radius: 4px;
  margin: 0px 5px 0px 0px;
  padding: 6px 12px;
  font-size: 16px;
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: background 0.15s ease-in;
}

.content {
  h1 {
    font-weight: 700;
    text-align: center;
    margin: 15px 0;
    font-size: 21px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    padding: 0px 10px;
    .content__row {
      display: flex;
      flex-direction: column;
      align-items: center;
      .content__body {
        text-align: justify;
        line-height: 23px;
        padding: 0px 16px;
      }
      .content__fruits {
        align-self: flex-start;
        .fruits__title {
          font-size: 24px;
          font-weight: 700;
          margin: 20px 0;
        }
        .container {
          .fruits__row {
            display: flex;
            margin: 0px -16px 0px 0px;
            .fruits__card {
              flex: 1 1 33.3333%;
              margin: 0px 16px 0px 0px;
              border: 1px solid #ccc;
              overflow: hidden;
              border-radius: 10px;
              .card__image {
                max-height: 100%;
                max-width: 100%;
                img {
                  height: 100%;
                  width: 100%;
                }
              }
              .card__info {
                padding: 8px;
                .card__subtitle {
                  font-weight: 700;
                  font-size: 16px;
                  margin: 10px 0;
                }
                .card__btns {
                  // display: flex;
                  // justify-content: center;
                  button {
                    @extend %btnTemplate;
                    &:first-child{
                      background: $primary;
                      &:hover{
                        background: #0150a3;
                      }
                    }
                    &:last-child{
                      background: $danger;
                      &:hover{
                        &:hover{
                          background: #b12432;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

%active {
  opacity: 1;
  z-index: 200;
}
%hidden {
  opacity: 0;
  z-index: -1;
}

.modal {
  &.open {
    .modal__overlay,
    .modal__window {
      @extend %active;
    }
    .modal__overlay {
      background: rgba(0, 0, 0, 0.5);
      .modal__window {
        transform: translateY(150px);
      }
    }
  }
  &.close {
    .modal__overlay,
    .modal__window {
      @extend %active;
    }
    .modal__overlay {
      background: rgba(0, 0, 0, 0);
    }
    .modal__window {
      transform: translateY(-200px);
    }
  }
  .modal__overlay,
  .modal__window {
    @extend %hidden;
  }
  .modal__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.35s;
  }
  .modal__window {
    width: 600px;
    background: #ffffff;
    border-radius: 5px;
    margin: 0px auto;
    transition: transform 0.35s ease-in;
    transform: translateY(-200px);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    .modal__header {
      padding: $padInsideMod;
      display: flex;
      justify-content: space-between;
      border-bottom: $baseBorder;
      .modal__close {
        height: 16px;
        width: 16px;
        opacity: 0.8;
        cursor: pointer;
        img {
          height: 100%;
          min-height: 100%;
          width: 100%;
        }
        &:hover {
          opacity: 1;
        }
      }
      .modal__title {
        font-size: 19px;
      }
    }
    .modal__body {
      padding: $padInsideMod;
      text-align: justify;
      line-height: 20px;
      text-indent: 15px;
      color: $contentClr;
    }
    .modal__footer {
      border-top: $baseBorder;
      padding: $padInsideMod;
      display: flex;
      justify-content: flex-end;
      .modal__buttons {
        button {
          @extend %btnTemplate;
          &:first-child {
            background: $secondary;
          }
          &:last-child {
            background: $primary;
            margin: 0;
          }
          &:hover {
            &:first-child {
              background: #484e53;
            }
            &:last-child {
              background: #0150a3;
            }
          }
        }
      }
    }
  }
}
